  <div><p id="message-box" class="message-box"></p></div>
  
  <div class='donor-info'>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active" ><a href="#personalinfo" data-toggle="tab" role="tab" id="personal-info-tab" >Personal Information</a></li>
      <li role="presentation" ><a href="#changepassword" data-toggle="tab" role="tab" id="change-password-tab">Change Password</a></li>
      <li role="presentation" ><a href="#membership" data-toggle="tab" role="tab" id="membership-tab">Your Membership</a></li>
    </ul>

    <br/>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personalinfo">
          <p>Email: {{email}}</p>
          <p>Name: {{metadata.name}}</p>
        </div>

        <div role="tabpanel" class="tab-pane" id="changepassword">
          <form  role='form' id="change-password-form">  

            <input type="hidden" name="email" value="{{email}}">

            <div class="row form-row">
              <input type="password" class="no-border form-control" id="currentpassword" name='currentpassword' placeholder="Current Password">
            </div>
            
            <div class="row form-row">
              <input type="password" class="no-border form-control" id="password" name='password' placeholder="New Password">
            </div>
            
            <div class="row form-row">
              <input type="password" class="no-border form-control" id="password" name='password' placeholder="Confirm New Password">
            </div>

            <input type="submit" class="btn btn-default" value="SUBMIT"></input>
          
          </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="membership">
          {{#donatesMonthly "testing"}}
              <p>DONTES</p>
          {{/donatesMonthly}}
          <table class="table">
            <tr>
              <th>Donation</th>
              <th>Date</th>
            </tr>
            {{#each donations}}
            <tr>
              <td>{{toDollars this.amount}}</td>
              <td>{{this.date}}</td>
            </tr>
            {{/each}}
          </table>
        </div>

    </div>
  </div>
